<footer class="short" id="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<a href="index.html" class="logo pull-bottom">
					<img alt="Porto Website Template" src=<%= asset_path 'logo_footer.png'%>>
				</a>
				<p>Permítenos asesorarte y potencializar tu negocio a través de la tecnología incrementado la productividad y rentabilidad de tu organización <a href="#" class="btn-flat btn-mini">Ver más <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="span3">
			
			</div>
			<div class="span3">
			
			</div>
			<div class="span3">
				<h4>Trabajo reciente</h4>

				<ul class="unstyled recent-work">
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/metlife.png'%> alt="">
						</a>
					</li>
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/banamex.png'%> alt="">
						</a>
					</li>
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/mexicana.png'%> alt="">
						</a>
					</li>
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/rec_moctezuma.png'%> alt="">
						</a>
					</li>
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/gnp.png'%> alt="">
						</a>
					</li>
					<li>
						<a class="thumb-info" href="portfolio-single-project.html">
							<img src=<%= asset_path 'proyectos/santander.png'%> alt="">
						</a>
					</li>
				</ul>

				<a href="#" class="btn-flat pull-right btn-mini view-more-recent-work">Ver más <i class="icon-arrow-right"></i></a>

			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p>© Derechos Reservados 2013 por H2Consulting</p>
				</div>
			</div>
		</div>
	</div>
</footer>